[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-you-should-use"]
	path = zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "ssh-connect"]
	path = ssh-connect
	url = git@github.com:gko/ssh-connect.git
[submodule "web-search"]
	path = web-search
	url = git@github.com:sineto/web-search.git
[submodule "git"]
	path = git
	url = git@github.com:davidde/git.git
